div{
    box-sizing:  border-box;
}

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 8px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
}
::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius   : 3px;
    background-color: rgba(220, 220, 220, 0.7);
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent
    );
}

.hide{
    display: none;
}

.ico{
    display: block;
    padding: 0px;
    margin: 0px;
    font-style: normal;
    font-size: 12px;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 10px;
    overflow: hidden;
    color: inherit;
}
.ico-white{
    color: #ffffff;
}
.ico-black{
    color: #000000;
}


/* begin column */
.column {
    overflow: hidden;
}
.column-left {
    height: 400px;
    background-color: #fff;
    position: relative;
    float: left;
}
.column-right {
    height: 400px;
    padding: 16px;
    background-color: #eee;
    box-sizing: border-box;
    overflow: hidden;
}
.resize-save {
    position: absolute;
    top: 0; right: 5px; bottom: 0; left: 0;
    padding: 16px;
    overflow-x: hidden;

}
.resize-bar {
    width: 200px; height: inherit;
    resize: horizontal;
    cursor: ew-resize;
    opacity: 0;
    overflow: scroll;
    max-width: 500px;
    /*设定最大拉伸长度*/
    min-width: 200px;
    /*设定最小宽度*/
}
/* 拖拽线 */
.resize-line {
    position: absolute;
    right: 0; top: 0; bottom: 0;
    border-right: 2px solid #eee;
    border-left: 1px solid #bbb;
    pointer-events: none;
}
.resize-bar:hover ~ .resize-line,
.resize-bar:active ~ .resize-line {
    border-left: 1px dashed skyblue;
}
.resize-bar::-webkit-scrollbar {
    width: 200px; height: inherit;
}

/* Firefox只有下面一小块区域可以拉伸 */
@supports (-moz-user-select: none) {
    .resize-bar:hover ~ .resize-line,
    .resize-bar:active ~ .resize-line {
        border-left: 1px solid #bbb;
    }
    .resize-bar:hover ~ .resize-line::after,
    .resize-bar:active ~ .resize-line::after {
        content: '';
        position: absolute;
        width: 16px; height: 16px;
        bottom: 0; right: -8px;
        background: red;
        background-size: 100% 100%;
    }
}
/*end column*/

.andflow{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #E3E3E3;
    border-radius: 0.25rem;

    -moz-user-select: none; /*火狐*/
    -webkit-user-select: none; /*webkit浏览器*/
    -ms-user-select: none; /*IE10*/
    -khtml-user-select: none; /*早期浏览器*/
    user-select: none;
    color:#333333 ;

}


.andflow .metadata{
    position: relative;
    display: inline-block;

    width: 200px;
    height: 100%;
    float: left;
    border-right: 1px solid #E3E3E3;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    padding-top: 0px;

}

.andflow .metadata .tags{
    display: flex;
    padding: 0px;
    align-items: center;
    border-bottom: 1px solid #E3E3E3;
    height: 25px;
    background-color: #E3E3E3;
    overflow: hidden;
}

.andflow .metadata .tags>label{
    display: inline-block;
    width: 50px;
    height: 100%;
    font-size: 12px;
    background-color: #E3E3E3;
    color:#333333 ;
    line-height: 25px;
    text-align: center;
    margin:0px;


}
.andflow .metadata .tags>select{
    display: inline-block;

    /*width: calc(100% - 50px);*/
    width: 100%;
    height: 100%;

    font-size: 12px;

    margin:0px;
    border: 0px;
    outline:0px;
    border-radius: 0px;

    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-appearance: none ;
    appearance: none;

    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAGVJREFUOE9jZKAQMFKon2HUAAbahEEDAwPDVQYGhtVoMRTKwMCgzcDAAJKHA2yxAFK4ioGBIQzJEGxiYENwRSOyBpA6dAPxugAmCTMExEd2DYrPCCUkGajqJ7hSLCEDCKb0YWAAAPWaDREoXWNBAAAAAElFTkSuQmCC");
    background-repeat: no-repeat;
    background-position: calc(100% - 5px) 50%;

    padding-left: 10px;

    color: #333333;

}

.andflow .metadata .actions{
    padding: 5px;
    height: calc(100% - 25px);
    overflow: auto;
}

.andflow .metadata .item-title{
    text-decoration: none;
    color: #333333;
    font-size: 12px;
}
.andflow .actionMenu{
    list-style-type: none;
    padding: 0px;
    margin:0px;
}

.andflow .actionMenuGroup{
    margin-top: 10px;


}
.andflow .actionMenuGroup>a{
    cursor:default;
    text-decoration: none;
    color: #333333;
    font-size: 14px;
}
.andflow .actionMenuGroupBody{
    padding: 0px;
}
.andflow .actionMenuItem{

    padding-left: 10px;
    list-style-type: none;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    cursor: pointer;

}
.andflow .actionMenuItem>a{
    display: flex;
    align-content: center;
    align-items: center;
}
.andflow .actionMenuItem>a>img{
    height: 16px;width: 16px;
}


.andflow .actionMenuItem:hover{
    background-color: rgba(233,233,233,0.21);
}


.andflow .designer{
    display: inline-block; 
    overflow: hidden;
    width: calc(100% - 200px);
    height: 100%;

    border-right: 5px solid transparent;
    box-shadow: 0 0 1px rgba(0, 0, 0 , 0.13);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-sizing: border-box;
}
.andflow .designer.max{
    width: 100%;
    height: 100%;
}
.codeContainer{
    display: none;
    position: absolute;
    z-index: 10000;
    top: 25px;
    left: 0px; 
    background-color: transparent; 
    width: 100%;
    height: calc(100% - 25px);
    padding: 0px;
    overflow: hidden;
    box-sizing: border-box;
   
}
.codeContainer textarea{
    width:100%;
    height:100%;
    border: 0px;
    box-sizing: border-box;
}

.canvasContainer{
    position: relative; 
    display: block; 
    background-color: transparent; 
    width: 100%;
    height: calc(100% - 25px);
    padding: 0px;
    background-image: url(data:image/gif;base64,R0lGODlhDAAMAJEAAOrq6v////Hx8QAAACH5BAAHAP8ALAAAAAAMAAwAAAIWjI8hycvonomSPtvkwYlDPQniSApAAQA7);
    background-size:10px 10px;
    overflow: auto;
    box-sizing: border-box;
}
  
.canvas {
    position: relative;
    display:block; 
    min-width: 100%;
    min-height: 100%;
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    background-color: transparent;
    overflow:visible; 
    box-sizing: border-box;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.canvas-move{
    cursor: move;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.flow_tools{
    display: inline-block;
    height: 25px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #E3E3E3;
    color:#333333 ;
    font-size: 12px;
    overflow: hidden;
    margin: 0px;
    padding:0px;
    /*background-color: #E3E3E3;*/
}
.flow_tools .left{
    display: inline-block;

    float: left;
    height: 100%;
}
.flow_tools .right{
    display: inline-block;
    float: right;
    height: 100%;

}
.flow_tools a{
    display: inline-block;
    min-width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    background-size: 70% 70%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    /*background-color: #E3E3E3;*/
    /*border: 1px solid #E3E3E3;*/
}
.flow_tools a:hover{
    background-color: #d9d9d9;

}
.flow_tools .scale_value{
    font-size: 10px;
}

.flow_tools .fold_btn{
    color: white;
}
/*.flow_tools .left a{*/
/*    border-right: 1px solid white;*/
/*}*/
/*.flow_tools .right a{*/
/*    border-left: 1px solid white;*/
/*}*/


.flow_thumbnail{
    display: none;
    position: absolute;
    z-index: 100;
    top: 45px;
    right: 20px;
    padding: 0px;
    
    width: 100px;
    height:100px;
    border: 1px solid #E3E3E3;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    box-sizing: border-box; 

}

.flow_thumbnail_mask{ 
    position: absolute;
    z-index: 100;
    top: 0px;
    left: 0px;
    padding: 0px; 
    width: 100%;
    height:100%;
    border: 1px solid #E3E3E3;
    background-color: rgba(0, 0, 0, 0.01);
    box-sizing: border-box; 
    cursor: move;
}

/*流程执行结果列表*/
.flow_state_list{
    position: absolute;
    z-index: 99;
    bottom: 0px;

    width: 100%;
    height: auto;
    max-height: 50%;
    background-color: white;
    padding:0px;
    margin:0px;
    overflow: hidden;
}

.flow_state_list_title{
    height: 20px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 1px solid #E3E3E3;

    background-color: white;
    font-size: 12px;
    color: grey;

}

.flow_state_list_title .flow_state_list_btn{
    font-size: 20px;
    color: grey;
    float:right;
    cursor: pointer;
    line-height: 12px;
}
.flow_state_list_content{
    width:100%;
    height: calc(100% - 20px);
    background-color: white;
    overflow: auto;
    padding: 5px;
}
.flow_state_list_content>table{
    width: 100%;
    margin: 0px;
    padding:0px;
}
.flow_state_list_content>table>thead th{
    text-align: center;
    font-size: 12px;
}
.flow_state_list_content>table tr{
    border-bottom: 1px solid #dedede;
}
.flow_state_list_content>table tr>td{
    font-size:12px;
}

.flow_state_list_content label.state-execute{
    color: deepskyblue;
}
.flow_state_list_content label.state_complete{
    color: darkblue;
}
.flow_state_list_content label.state_waiting{
    color: gray;
}
.flow_state_list_content label.error{
    color: red;
}
.flow_state_list_content label.success{
    color: green;
}



/***************************************************/

/*hide toolbar*/
.andflow.toolbar_hide .flow_tools{
    display: none;
}
.andflow.toolbar_hide .canvasContainer{
    height: 100%;
}


/***************************************************/

/*float left metadata*/
.andflow.metadata_float_left .metadata{
    position: absolute;
    z-index: 100;
    left: 0px;
    top: 25px;
    display: inline-block;
    width: 200px;
    height: calc(100% - 25px);
    border-right: 1px solid #E3E3E3;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: border-box;
    padding-top: 0px;
}
.andflow.metadata_float_left.toolbar_hide .metadata{
    top: 0px;
    height: 100%;
}


.andflow.metadata_float_left .designer{
    display: inline-block;

    width: 100%;
    height: 100%;

    border-right: 5px solid transparent;
    box-shadow: 0 0 1px rgba(0, 0, 0 , 0.13);
    position: relative;


    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
}



/***************************************************/
/*float top metadata*/
.andflow.metadata_float_top .metadata{
    position: absolute;
    z-index: 1000;
    left: 0px;
    top: 25px;
    display: inline-block;
    width: 100%;
    height: 25px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid #E3E3E3;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 1);
    background-clip: border-box;
    padding-top: 0px;
}

.andflow.metadata_float_top.toolbar_hide .metadata{
    top: 0px;
}

.andflow.metadata_float_top .metadata .tags{
    float: left;
    width: 100px;
}
.andflow.metadata_float_top .metadata .actions{
    float: right;
    padding: 0px;
    height: auto;
    width: calc(100% - 100px);
    overflow-y:hidden;
    overflow-x:auto;
    white-space: nowrap;
    box-sizing: border-box;

}


.andflow.metadata_float_top .metadata .actions .actionMenu{
    display: flex;
    align-items: center;
    align-content: center;
    height: auto;
    width: 100%;
}
.andflow.metadata_float_top .metadata .actions .actionMenu>.actionMenuGroup{
    display: inline-block;
    height: 25px;
    padding: 0px;
    margin:0px;
    padding-left: 5px;
    border-left: 1px solid #E3E3E3;
}
.andflow.metadata_float_top .metadata .actions .actionMenu>.actionMenuGroup>a{
    font-size: 10px;
    padding-left: 5px;

    height: 100%;
    line-height: 25px;
    color: #A3A3A3;
}
.andflow.metadata_float_top .metadata .actions .actionMenu>.actionMenuItem{
    display: inline-block;
}
.andflow.metadata_float_top .metadata .actions .actionMenu>.actionMenuItem>a{
    display: flex;
}
.andflow.metadata_float_top .designer{
    /* display: inline-block; */

    width: 100%;
    height: 100%;

    border-right: 5px solid transparent;
    box-shadow: 0 0 1px rgba(0, 0, 0 , 0.13);
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
}


/************************************************/

/*close metadata*/
.andflow.fold .metadata{
    display: none;
}

.andflow.fold .designer{ 
    width: 100%;
    height: 100%;
}

/************************************************/

/*editable=false static */
.andflow.state .metadata{
    display: none;
}

.andflow.state .designer{ 
    width: 100%;
    height: 100%;
}

.andflow.state .flow_tools .nav_btn{
    display: none;
}

.andflow.state .action .action-remove-btn{
    display: none;
    visibility: hidden;
}
.andflow.state .action .action-resize{
    display: none;
    visibility: hidden;
}
.andflow.state .action .body-resize{
    display: none;
    visibility: hidden;
}
.andflow.state .action .ep{
    display: none;
    visibility: hidden;
}

.andflow.state .group .group-remove-btn{
    display: none;
    visibility: hidden;
}

.andflow.state .group .group-resize{
    display: none;
    visibility: hidden;
}
.andflow.state .group .group-ep{
    display: none;
    visibility: hidden;
}


.andflow.state .list .list-remove-btn{
    display: none;
    visibility: hidden;
}

.andflow.state .list .list-resize{
    display: none;
    visibility: hidden;
}
.andflow.state .list .list-ep{
    display: none;
    visibility: hidden;
}


.andflow.state .tip .tip-remove-btn{
    display: none;
    visibility: hidden;
}

.andflow.state .tip .tip-resize{
    display: none;
    visibility: hidden;
}
.andflow.state .tip .tip-ep{
    display: none;
    visibility: hidden;
} 

.jtk-drag-hover {
    outline:4px solid #ffc107;
}



.animationLabel{
 background-color: red;
 height: 30px;
 width: 30px;
 border-radius: 15px;
}

.drag-helper{
    position: absolute;
    z-index: 5;
}

.action-container{
    display: absolute; 
    width: auto;
    height: auto;
}