body{
    padding: 0px;
    margin: 0px;
}
.bander{
    display: inline-block;
    height: 50px;  
    width:100%;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #DEDEDE;
    box-sizing: border-box;
}
.bander>div{
    display: inline-block;
}
.bander a{
    text-decoration-line: none;  
    color: #333333;
}
.bander a:active{
    text-decoration-line: none;  
    color: #333333;
}

.bander .logo{
    display: inline-block;
    height: 50px; 
    float: left; 
}
.bander .logo img{
    height: 50px; 
}
.bander .title{ 
    display: inline-block;
    height: 50px; 
    font-size: 30px; 
}
.bander .subtitle{
    display: inline-block;
    height: 50px; 
    font-size: 20px; 
    padding-left: 20px;
}

.bander .menus{
    float: right;
    font-size: 14px;
    line-height: 50px;
}
.demo-table{
    width: 100%;
}
.demo-table td{
    width:50%;
    vertical-align: top;
}
.demo-table img{
    width:100%;
}


.dialog{
    display: none;
    background-color: white;
    padding: 0px;
    min-width: 50%;
    border-radius: 5px;
    border: 1px solid gray;
    
}
.dialog .dialog-body{
    width: 100%;
    padding: 20px;
}
.dialog .dialog-header{
    height: 40px;
    border-bottom: 1px solid gray;
}
 
.dialog .dialog-header .dialog-title {
    font-weight: bold;
    line-height: 30px;
    padding-left: 10px;
}
.dialog .dialog-footer{
    display: inline-block;
    width: 100%;
    height: 40px; 
    text-align: right;
    padding: 10px;
}

.form-item{
    display: flex;
    width: 100%;
    align-items: center; 
    align-content: center; 
    margin-bottom: 10px;

}
.form-item *{
    display: inline-block;
    align-content: center;
    align-items: center; 
    align-content: center;
}
.form-item input:read-only{
    background-color: gray;
}
.form-item label{
    width: 80px;
    font-size: 12px;
}
.form-item select,.form-item input,.form-item textarea{
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    width: calc(100% - 100px);
    min-height: 30px;
     
    border:1px solid gray;
    border-radius: 3px; 
}